html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.panel-props {
    background-color: #F0F0F0;
    padding: 0.5rem;
    min-height: 600px;
}

.panel-map {
    height: 100%;
    min-height: 600px;
    background-color: #F0F0F0;
}

.panel-alts {
    height: 100%;
}

.draw-alts{
    background-color: #F0F0F0;
    height: 50%;
    padding: 10px;
    margin: 0;

}

.bar{
    cursor: pointer;
    fill: darkgoldenrod;
    fill-opacity: 0;
    stroke-width: 2;
    stroke: darkgoldenrod;
    /*stroke-dasharray: 5 2;*/
}

.my-div-icon {
    /*width: 64px;*/
    /*height: 64px;*/
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 20px;       /* The same as your div height */
    border: 2px solid gray;
    background-color: #FFF;
    border-radius: 50%;
}

